* {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 5px 5px 15px rgb(0 0 0 / 30%);
}

body {
    background: #F5E8B7;
}

h1 {
    background-color: #CD5C08;
    display: flex;
    justify-content: center;
    color: #F5E8B7;
    padding: 12px;
}

h2 {
    text-align: center;
}

h4 {
    overflow: hidden;
    text-align: center;
    padding: 10px 0 20px 0;
}

ul {
    padding-top: 0.7rem;
}

h2, h3, ul {
    padding-bottom: 1rem;
}

label {
    overflow: hidden;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select: none;
}

.trashicon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:100%;
    max-height:128px;
}

#trashgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

article {
    margin: 1rem;
}

footer {
    bottom: 0;
    right: 0;
    position: fixed;
    padding: 5px 5px 5px 15px;
    background-color: #CD5C08;
    color:#F5E8B7;
    border-top-left-radius: 10px;
    box-shadow: -12px -12px 17px 0px rgb(0 0 0 / 10%);
    z-index: 2;

}

input:checked ~ label {
    background: #CD5C08;
	color:#F5E8B7;
}

input ~ label {
    background: #CD5C08;
	color:#F5E8B7;
    transition: 200ms ease-out;
}

#tabs {
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(#CD5C08 10px, #F5E8B7 0%);
}

#tabs input[type=radio] {
    display: none;
}

#tabs > label {
    flex: 0 0 33.333333%;
    text-align: center;
    padding: 12px 0;
}

#tabs #tab1:checked ~ label:nth-of-type(1) {
	background:#F5E8B7;
    color:#CD5C08;
    border-radius: 0px 10px 10px 0;
    box-shadow: 0px -12px 17px 0px rgb(0 0 0 / 10%);
    z-index: 0;
}

#tabs #tab1:checked ~ label:nth-of-type(2) {
    border-radius: 10px 10px 0 10px;
}

#tabs #tab1:checked ~ label:nth-of-type(3) {
    border-radius: 10px 0 0 0;
}

#tabs #tab2:checked ~ label:nth-of-type(1) {
    border-radius: 0 10px 10px 0;
}

#tabs #tab2:checked ~ label:nth-of-type(2) {
	background:#F5E8B7;
    color:#CD5C08;
    border-radius: 10px;
    box-shadow: 0px -12px 17px 0px rgb(0 0 0 / 10%);
    z-index: 0;
}

#tabs #tab2:checked ~ label:nth-of-type(3) {
    border-radius: 10px 0 0 10px;
}

#tabs #tab3:checked ~ label:nth-of-type(1) {
    border-radius: 0 10px 0 0;
}

#tabs #tab3:checked ~ label:nth-of-type(2) {
    border-radius: 10px 10px 10px 0;
}

#tabs #tab3:checked ~ label:nth-of-type(3) {
	background:#F5E8B7;
    color:#CD5C08;
    border-radius: 10px 0 0 10px;
    box-shadow: 0px -12px 17px 0px rgb(0 0 0 / 10%);
    z-index: 0;
}

.tab {
    height: auto;
    opacity: 1;
    transition: height 0ms 0ms, opacity 100ms 0ms;
    width: 100%;
    background-color: #F5E8B7;
    z-index: 1;
    overflow-y: auto;
    height:440px;
    bottom: 0;
}

#tab1 ~ label:hover {
    background:#c55a07;
}

input#tab1:checked ~ .tab:not(:nth-of-type(1)), input#tab2:checked ~ .tab:not(:nth-of-type(2)), input#tab3:checked ~ .tab:not(:nth-of-type(3)) {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: height 0ms 1000ms, opacity 100ms 0ms;
}