* {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 5px 5px 15px rgb(0 0 0 / 30%);
}

body {
    background: #F5E8B7;
}

h1 {
    background-color: #CD5C08;
    display: flex;
    justify-content: center;
    color: #F5E8B7;
    
    padding: 12px;
}

h2 {
    text-align: center;
    padding-bottom: 1rem;
}

h3{
    padding-bottom: 1rem;
}

h4 {
    overflow: hidden;
    text-align: center;
    padding: 10px 0 20px 0;
}

ul{
    padding-bottom: 1rem;
    padding-top: 0.7rem;
}

label {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select: none;
}



button { 
    width: 72px;
    height: 38px;
    position: absolute;
    top: 121px;
    left: 82px;
    backdrop-filter: blur(13px);
    background: #0000004d;
    border: 0;
    border-top: #ffffff57 solid 1px;
    border-radius: 5px;
    color: white;
    font-weight: 100;
}

button:hover{
    background: #2e2e2e4d;
}

button:active{
    background: #5a5a5a4d;
    border: 0;
    border-bottom: #1d1d1d57 solid 1px;
}

.trashicon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:100%;
    max-height:128px;
}

#trashgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

article{
    margin: 1rem;
}

#tab1 ~ label:hover{ /* Luie manier voor een horere selector specificiteit */
    background:#c55a07;
}

input:checked ~ label{
    background: #CD5C08;
	color:#F5E8B7;
}

input ~ label{
    background: #CD5C08;
	color:#F5E8B7;
    transition: 200ms ease-out;
}

tabs { /* Ik gebruik zelf gemaakte tags, het is gewoon gemakkelijker.*/
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(#CD5C08 10px, #F5E8B7 0%);
}

tabs input[type=radio] {
    display: none;
}

tabs > label {
    flex: 0 0 33.333333%;
    text-align: center;
    padding: 12px 0;
}

tabs #tab1:checked ~ label:nth-of-type(1){
	background:#F5E8B7;
    color:#CD5C08;
    border-radius: 0px 10px 0 0;
}

tabs #tab1:checked ~ label:nth-of-type(2){
    border-radius: 10px 10px 0 10px;
}

tabs #tab1:checked ~ label:nth-of-type(3){
    border-radius: 10px 0 0 0;
}

tabs #tab2:checked ~ label:nth-of-type(1){
    border-radius: 0 10px 10px 0;
}

tabs #tab2:checked ~ label:nth-of-type(2){
	background:#F5E8B7;
    color:#CD5C08;
    border-radius: 10px 10px 0 0;
}

tabs #tab2:checked ~ label:nth-of-type(3){
    border-radius: 10px 0 0 10px;
}

tabs #tab3:checked ~ label:nth-of-type(1){
    border-radius: 0 10px 0 0;
}

tabs #tab3:checked ~ label:nth-of-type(2){
    border-radius: 10px 10px 10px 0;
}

tabs #tab3:checked ~ label:nth-of-type(3){
	background:#F5E8B7;
    color:#CD5C08;
    border-radius: 10px 0 0 0;
}



tab {
    /*/transition: 1000ms ease-out;/*/
    /*opacity: 1;*/
    height: auto; opacity: 1;
    transition: height 0ms 0ms, opacity 100ms 0ms;
    width: 100%;
    
}





input#tab1:checked ~ tab:not(:nth-of-type(1)), input#tab2:checked ~ tab:not(:nth-of-type(2)), input#tab3:checked ~ tab:not(:nth-of-type(3)) {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: height 0ms 100ms, width 0ms 100ms, opacity 100ms 0ms;

}

#controls{
   /*/ display: grid;
    grid-template-rows: 100px 200px; /*/

}

#controls label{
    display: inline-block;
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor:pointer;
    text-decoration: none;
}

#controls input:checked + label{
    background-color: green;
}

slide {
    float: left;
    margin: 0 0px 0 0px;
    display: block;
}

slides{
    border: #c55a07 solid 10px;
    width: 100%;
    overflow: hidden;
    display: flex;
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#image1:checked ~ slides> slide:nth-of-type(1){
    margin-left: 0;
    color: red;
}

#image2:checked ~ slides> slide:nth-of-type(1){
    margin-left: -100%;
    color: red;
}

#image2:checked ~ slides> slide:nth-of-type(2){
    margin-left: 1%;
    color: brown;
}

#image3:checked ~ slides> slide:nth-of-type(3){
    margin-left: -200%;
    color: orange;
}

#image4:checked ~ slides> slide:nth-of-type(4){
    margin-left: -300%;
    color: orange;
}